@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
    --cor-principal: #ffee00;
    --cor-secundaria: #ffd900;
    --cor-destaque: #ffd000;
}

body {
    font-family: 'permanent marker', sans-serif;
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 100;
}

footer a {
    color: var(--cor-principal)
}

footer a:hover {
    color: var(--cor-destaque);
}
